@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .center {
    @apply mx-auto h-screen flex overflow-hidden justify-center w-full;
  }

  .scroll-custom::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scroll-custom::-webkit-scrollbar-track {
    background: #eeeeee;
    border-radius: 8px;
  }

  .scroll-custom::-webkit-scrollbar-thumb {
    background-color: #323031;
    border-radius: 8px;
  }

  .scroll-custom::-webkit-scrollbar-thumb:hover {
    background-color: #4b8690;
  }

  input[type='time']::-webkit-calendar-picker-indicator,
  input[type='date']::-webkit-calendar-picker-indicator,
  input[type='datetime-local']::-webkit-calendar-picker-indicator,
  input[type='month']::-webkit-calendar-picker-indicator {
    filter: none;
  }

  .dark input[type='time']::-webkit-calendar-picker-indicator,
  .dark input[type='date']::-webkit-calendar-picker-indicator,
  .dark input[type='datetime-local']::-webkit-calendar-picker-indicator,
  .dark input[type='month']::-webkit-calendar-picker-indicator {
    filter: invert(1) brightness(1.5);
    cursor: pointer;
  }
}
